/* Página História */

@font-face {
    font-family: "Faktos";
    src: url("../fonts/Faktos.ttf");
    font-weight: normal;
    font-style: normal;
}

p,
h2,
h1,
.tipo,
.imagem {
    filter: drop-shadow(4px 4px 2px black);
}

p {
    text-align: justify;
    padding-left: 5%;
    padding-right: 5%;
}

h2 {
    text-align: center;
    font-style: italic;
}

h1 {
    text-align: center;
}

div,
button {
    font-family: "Faktos";
    color: white;
}

.barraPersonagens,
.barraDescricao {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}


/* Barra dos Personagens */

.barraPersonagens {
    display: block;
    width: 95%;
    height: 5%;
    margin-bottom: 0.5%;
}

.barraPersonagens table {
    table-layout: fixed;
    width: 100%;
}

.barraPersonagens td {
    padding: 5px;
}

.barraPersonagens img {
    display: block;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    filter: drop-shadow(4px 4px 2px black);
}

.barraPersonagens img:hover {
    box-shadow: 0 0 10px black;
}

/* Descrição */

.barraDescricao {
    display: block;
    width: 95%;
    height: 90%;
}

/* Informações dos Personagens */

.personagem {
    display: table;
    width: 100%;
    height: 100%;
}

.imagemPersonagem,
.descricaoPersonagem {
    display: table-cell;
    vertical-align: top;
}

.imagemPersonagem {
    width: 400px;
    height: 490px;
}

.imagem {
    display: block;
    max-width: 400px;
    max-height: 400px;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.tipo {
    width: 64px;
    height: 64px;
}